## Intro to numpy

In [1]:
import numpy as np

### Datatype & Attributes

In [3]:
# Numpy main datatype is only ndarray
al = np.array([1,2,3,4,5])
al

array([1, 2, 3, 4, 5])

In [4]:
type(al)

numpy.ndarray

In [26]:
al.dtype

dtype('int64')

In [5]:
a2 = np.array([[1,2,3.6], [4, 5.9, 6]])

In [6]:
a3 = np.array([[[1,2,3],[4,5,6],[7,8,9]],[[10,11,12],[13,14,15],[16,17,18]]])

### Shape of the array

In [7]:
al.shape

(5,)

In [8]:
a2.shape

(2, 3)

In [9]:
a3.shape

(2, 3, 3)

In [18]:
al.shape, a2.shape, a3.shape

((5,), (2, 3), (2, 3, 3))

### Number of dimesion of the array

In [11]:
al.ndim

1

In [12]:
a2.ndim

2

In [13]:
al.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [14]:
al.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [15]:
al.size, a2.size, a3.size

(5, 6, 18)

In [16]:
type(al), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [17]:
# creating Dataframe from numpy arrays
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.6
1  4.0  5.9  6.0

In [23]:
new_arr_1 = np.ones((5,2))

In [24]:
new_arr_1

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [27]:
new_arr_2 = np.ones((1,6), 'int64')
new_arr_2

array([[1, 1, 1, 1, 1, 1]])